{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "thingplus",
    "description": "minimum apis minimum apis minimum apis minimum apis"
  },
  "host": "api.testrs.thingbine.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Authorization": {
      "name": "Authorization",
      "type": "apiKey",
      "in": "header"
    },
    "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "scopes": {
        "gateways-read": "gateways-read",
        "rules-read": "rules-read"
      },
      "authorizationUrl": "https://api.thingplus.net/v1/oauth2/authorize",
      "tokenUrl": "https://api.thingplus.net/v1/oauth2/token"
    }
  },
  "paths": {
    "/oauth2/authClients": {
      "post": {
        "operationId": "POST_oauth2-authClients",
        "summary": "OAuth2 Create authClients",
        "tags": [
          "OAuth2"
        ],
        "description": "#### 인증 클라이언트 생성 Api",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "reqId": {
                      "type": "string",
                      "description": "클라이언트 id"
                    }
                  },
                  "required": [
                    "reqId"
                  ]
                },
                {
                  "$ref": "#/definitions/authclient"
                }
              ],
              "example": {
                "name": "eltempName1",
                "reqId": "eltempId1",
                "clientSecret": "eltempSecret1",
                "scopes": [
                  "user-profile-read",
                  "gateway-update",
                  "timeline-read",
                  "tag",
                  "rule-read",
                  "service-read",
                  "site-read"
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "_user": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "description": "클라이언트 id"
                    }
                  }
                },
                {
                  "$ref": "#/definitions/authclient"
                },
                {
                  "$ref": "#/definitions/common-output"
                }
              ]
            },
            "examples": {
              "application/json": {
                "name": "eltempName1",
                "clientSecret": "eltempSecret1",
                "scopes": [
                  "user-profile-read",
                  "gateway-update",
                  "timeline-read",
                  "tag",
                  "rule-read",
                  "service-read",
                  "site-read"
                ],
                "_user": "1",
                "mtime": 1487746647407,
                "ctime": 1487746647407,
                "id": "eltempId1"
              }
            }
          }
        },
        "x-stoplight": {
          "id": "POST_oauth2-authClients",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "statusCode": 200,
            "dynamic": false,
            "enabled": false
          }
        }
      }
    },
    "/oauth2/authorize": {
      "get": {
        "operationId": "GET_oauth2-authorize",
        "summary": "OAuth2Authorize",
        "tags": [
          "OAuth2"
        ],
        "description": "#### OAuth 2.0 인증용 API\n\n이 API의 결과는 사용자로 하여금 API 사용권한을 부여할지 여부를 입력받기 위한 결과 촉구용 웹페이지임.",
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "description": "응답 종류",
            "required": true,
            "type": "string",
            "enum": [
              "code",
              "token"
            ]
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "/authClients API를 통해 생성한 클라이언트 id",
            "required": true,
            "type": "string"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "서버에서 결과 값 redirecting 시켜줄 uri",
            "required": true,
            "type": "string",
            "format": "uri"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "x-stoplight": {
          "id": "GET_oauth2-authorize",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "POST_oauth2-token",
        "summary": "OAuth2Token",
        "tags": [
          "OAuth2"
        ],
        "description": "#### OAuth 2.0 인증 후 access_token을 받아오기 위한 API\n\ntoken API 를 통해 token을 획득하여 \n\n다른 API의 header 에 Authorization 필드 부분에 값을 채워 사용하세요\n\n{token_type} {access_token} 형태로 입력\n\nex) Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ezcxfQ.BfgfVvKhvTOwlYHSzcFPQl-0c",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "/oauth2/authorize 통해서 받아온 인증 코드"
                },
                "client_id": {
                  "type": "string",
                  "description": "/authClients API를 통해 생성한 클라이언트 id"
                },
                "client_secret": {
                  "type": "string",
                  "description": "/authClients API를 통해 생성한 클라이언트 secret"
                },
                "redirect_uri": {
                  "type": "string",
                  "description": "/oauth2/authorize API를 호출할 때, 입력한 redirect_uri과 동일한 값."
                },
                "grant_type": {
                  "type": "string",
                  "description": "OAuth2 인증타입",
                  "enum": [
                    "authorization_code",
                    "password"
                  ]
                }
              },
              "required": [
                "code",
                "client_id",
                "client_secret",
                "redirect_uri",
                "grant_type"
              ],
              "example": {
                "code": "kJ4gYLfvDTcfZpd1",
                "client_id": "eltempId1",
                "client_secret": "eltempSecret1",
                "redirect_uri": "http://localhost:8080/oauth",
                "grant_type": "authorization_code"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "access_token": {
                  "type": "string",
                  "description": "API access token"
                },
                "token_type": {
                  "type": "string",
                  "description": "현재 bearer 만 지원"
                }
              }
            },
            "examples": {
              "application/json": {
                "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VySWQiOiIwIiwiY2xpZW50SWQiOiJlbHRlbXBJZDEiLCJpYXQiOjE0OTEzODEyMjgsImV4cCI6MTQ5MjY3NzIyOH0.a1oPiuS3J3olb9R1vecYNCruthttFYUmZrX6AWajXJU",
                "token_type": "Bearer"
              }
            }
          }
        },
        "x-stoplight": {
          "id": "POST_oauth2-token",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "operationId": "GET-user-me",
        "summary": "Get My Account",
        "tags": [
          "thingplus",
          "Users"
        ],
        "description": "#### 로그인한 사용자의 정보 조회용 API",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "description": "200: 성공"
                },
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/user-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "loginId": "admin",
                "email": "seok.ryu@daliworks.net",
                "locale": "ko",
                "country": "kr",
                "timezone": "+9.00",
                "accessApproval": "allow",
                "_service": "0",
                "_site": "0",
                "mtime": "1490251985888",
                "ctime": "1481879645188",
                "billing": "user:0",
                "billingLimit": "user:0:limit",
                "billingCurrent": "user:0:current",
                "billingMeter": "user:0:meter",
                "roles": [
                  "systemAdmin",
                  "serviceAdmin",
                  "siteAdmin",
                  "user:0"
                ],
                "nickname": "cccddd",
                "id": "0"
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "GET-user-me",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": true,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/users/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "사용자 id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "GET-user",
        "summary": "Get User",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/user-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "loginId": "safeadmin",
                  "email": "rs@daliworks.net",
                  "locale": "ko",
                  "timezone": "+9.00",
                  "country": "kr",
                  "accessApproval": "allow",
                  "_service": "1",
                  "_site": "1",
                  "roles": [
                    "serviceAdmin",
                    "user:1"
                  ],
                  "mtime": "1483420098948",
                  "ctime": "1483420068637",
                  "billing": "user:1",
                  "billingLimit": "user:1:limit",
                  "billingCurrent": "user:1:current",
                  "billingMeter": "user:1:meter",
                  "verifiedEmail": "rs@daliworks.net",
                  "id": "1"
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": "Access denied"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "GET-user",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "LIST-users",
        "summary": "List Users",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/user-output"
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": [
                  {
                    "loginId": "safeadmin",
                    "email": "rs@daliworks.net",
                    "locale": "ko",
                    "timezone": "+9.00",
                    "country": "kr",
                    "accessApproval": "allow",
                    "_service": "1",
                    "_site": "1",
                    "roles": [
                      "serviceAdmin",
                      "user:1"
                    ],
                    "mtime": "1483420098948",
                    "ctime": "1483420068637",
                    "billing": "user:1",
                    "billingLimit": "user:1:limit",
                    "billingCurrent": "user:1:current",
                    "billingMeter": "user:1:meter",
                    "verifiedEmail": "rs@daliworks.net",
                    "id": "1"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "LIST-users",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/gatewayModels": {
      "get": {
        "operationId": "LIST-gatewayModels",
        "summary": "List GatewayModels",
        "tags": [
          "thingplus",
          "Gatewaymodels",
          "GatewayModels"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/gatewaymodel-output"
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": [
                  {
                    "idFormat": "custom",
                    "deviceModels": [
                      {
                        "id": "trueyesNFCAirQ",
                        "displayName": "Trueyes NFC Air-Q",
                        "idTemplate": "{gatewayId}",
                        "discoverable": "n",
                        "sensors": [
                          {
                            "network": "daliworks",
                            "driverName": "genericSensor",
                            "model": "genericTemp",
                            "sequence": "1",
                            "type": "temperature",
                            "category": "sensor"
                          },
                          {
                            "network": "daliworks",
                            "driverName": "genericSensor",
                            "model": "genericHumi",
                            "sequence": "1",
                            "type": "humidity",
                            "category": "sensor"
                          },
                          {
                            "network": "daliworks",
                            "driverName": "genericSensor",
                            "model": "genericCo",
                            "sequence": "1",
                            "type": "co",
                            "category": "sensor"
                          },
                          {
                            "network": "daliworks",
                            "driverName": "genericSensor",
                            "model": "genericCo2",
                            "sequence": "1",
                            "type": "co2",
                            "category": "sensor"
                          },
                          {
                            "network": "daliworks",
                            "driverName": "genericSensor",
                            "model": "genericDust",
                            "sequence": "1",
                            "type": "dust",
                            "category": "sensor"
                          },
                          {
                            "network": "daliworks",
                            "driverName": "genericSensor",
                            "model": "genericNumber",
                            "sequence": "1",
                            "type": "number",
                            "category": "sensor"
                          }
                        ],
                        "max": 1
                      }
                    ],
                    "vendor": "TRUEYES",
                    "id": "20",
                    "mtime": "1484640369907",
                    "displayName": "Trueyes NFC Air-Q",
                    "model": "trueyesNFC",
                    "deviceMgmt": {
                      "reportInterval": {
                        "show": "y"
                      }
                    },
                    "ctime": "1484640369907"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "LIST-gatewayModels",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": true,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/gatewayModels/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "게이트웨이 모델 id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "GET-gatewayModel",
        "summary": "Get GatewayModel",
        "tags": [
          "Gatewaymodels",
          "GatewayModels"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/gatewaymodel-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "idFormat": "custom",
                  "deviceModels": [
                    {
                      "id": "trueyesNFCAirQ",
                      "displayName": "Trueyes NFC Air-Q",
                      "idTemplate": "{gatewayId}",
                      "discoverable": "n",
                      "sensors": [
                        {
                          "network": "daliworks",
                          "driverName": "genericSensor",
                          "model": "genericTemp",
                          "sequence": "1",
                          "type": "temperature",
                          "category": "sensor"
                        },
                        {
                          "network": "daliworks",
                          "driverName": "genericSensor",
                          "model": "genericHumi",
                          "sequence": "1",
                          "type": "humidity",
                          "category": "sensor"
                        },
                        {
                          "network": "daliworks",
                          "driverName": "genericSensor",
                          "model": "genericCo",
                          "sequence": "1",
                          "type": "co",
                          "category": "sensor"
                        },
                        {
                          "network": "daliworks",
                          "driverName": "genericSensor",
                          "model": "genericCo2",
                          "sequence": "1",
                          "type": "co2",
                          "category": "sensor"
                        },
                        {
                          "network": "daliworks",
                          "driverName": "genericSensor",
                          "model": "genericDust",
                          "sequence": "1",
                          "type": "dust",
                          "category": "sensor"
                        },
                        {
                          "network": "daliworks",
                          "driverName": "genericSensor",
                          "model": "genericNumber",
                          "sequence": "1",
                          "type": "number",
                          "category": "sensor"
                        }
                      ],
                      "max": 1
                    }
                  ],
                  "vendor": "TRUEYES",
                  "id": "20",
                  "mtime": "1484640369907",
                  "displayName": "Trueyes NFC Air-Q",
                  "model": "trueyesNFC",
                  "deviceMgmt": {
                    "reportInterval": {
                      "show": "y"
                    }
                  },
                  "ctime": "1484640369907"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "GET-gatewayModel",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/sensorTypes": {
      "get": {
        "operationId": "LIST-sensorTypes",
        "summary": "List SensorTypes",
        "tags": [
          "Sensortypes",
          "SensorTypes"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/sensortype-output"
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": [
                  {
                    "decimalPlace": "2",
                    "stats": {
                      "funcs": [
                        "avg"
                      ],
                      "frequency": "y",
                      "cumulative": "y"
                    },
                    "id": "strain",
                    "unit": "um/m",
                    "mtime": "1489645343084",
                    "category": "sensor",
                    "chart": {
                      "drawable": true,
                      "dataType": "series",
                      "cumulative": true,
                      "intervalFunc": "last",
                      "yaxis": {
                        "min": 0,
                        "max": 3
                      }
                    },
                    "ctime": "1489645343084",
                    "type": "number",
                    "contentType": {
                      "properties": {},
                      "display": [],
                      "type": "object",
                      "link": []
                    },
                    "commands": {},
                    "minimum": "0",
                    "maximum": "10",
                    "range": {
                      "min": -100,
                      "max": 10,
                      "interval": 1
                    },
                    "values": [
                      1
                    ],
                    "displayValues": [
                      "in"
                    ],
                    "displayImage": "y"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "LIST-sensorTypes",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/sensorTypes/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "센서 타입 id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "GET-sensorType",
        "summary": "Get SensorType",
        "tags": [
          "Sensortypes",
          "SensorTypes"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sensortype-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "decimalPlace": "2",
                  "stats": {
                    "funcs": [
                      "avg"
                    ],
                    "frequency": "y",
                    "cumulative": "y"
                  },
                  "id": "strain",
                  "unit": "um/m",
                  "mtime": "1489645343084",
                  "category": "sensor",
                  "chart": {
                    "drawable": true,
                    "dataType": "series",
                    "cumulative": true,
                    "intervalFunc": "last",
                    "yaxis": {
                      "min": 0,
                      "max": 3
                    }
                  },
                  "ctime": "1489645343084",
                  "type": "number",
                  "contentType": {
                    "properties": {},
                    "display": [],
                    "type": "object",
                    "link": []
                  },
                  "commands": {},
                  "minimum": "0",
                  "maximum": "10",
                  "range": {
                    "min": -100,
                    "max": 10,
                    "interval": 1
                  },
                  "values": [
                    1
                  ],
                  "displayValues": [
                    "in"
                  ],
                  "displayImage": "y"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "GET-sensorType",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/sensorDrivers": {
      "get": {
        "operationId": "LIST-sensorDrivers",
        "summary": "List SensorDrivers",
        "tags": [
          "Sensordrivers",
          "SensorDrivers"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/sensordriver-output"
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": [
                  {
                    "commands": {
                      "advanwiseLed": {
                        "on": [],
                        "off": []
                      },
                      "ezexPowerController": {
                        "powerOn": [],
                        "powerOff": [],
                        "autoCutoffOn": [],
                        "autoCutoffOff": [],
                        "remoteLockOn": [],
                        "remoteLockOff": [],
                        "set": [
                          {
                            "name": "cutoffvalue",
                            "type": "number",
                            "required": true,
                            "min": 0,
                            "max": 3000,
                            "unit": "w"
                          }
                        ],
                        "get": []
                      },
                      "ezexswitch": {
                        "on": [],
                        "off": []
                      },
                      "ezexlockunlock": {
                        "lock": [],
                        "unlock": []
                      },
                      "ezextimer": {
                        "set": [
                          {
                            "name": "duration",
                            "type": "number",
                            "required": true,
                            "min": 0,
                            "max": 3000,
                            "unit": "sec"
                          }
                        ],
                        "get": []
                      },
                      "genericCamera": {
                        "snapPicture": [
                          null
                        ]
                      },
                      "FI9821WA": {
                        "snapPicture": [],
                        "gotoPresetDefault": [],
                        "resetPosition": [],
                        "reboot": []
                      }
                    },
                    "discoverable": "false",
                    "id": "advanwiseActuator",
                    "contentType": {
                      "advanwiseLed": {
                        "properties": {
                          "cmd": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string",
                            "enum": [
                              "success",
                              "error"
                            ]
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "number"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "display": [
                          "cmd"
                        ]
                      },
                      "ezexPowerController": {
                        "properties": {
                          "cmd": {
                            "type": "string"
                          },
                          "result": {
                            "type": "object",
                            "properties": {
                              "cutoffValue": {
                                "type": "number",
                                "unit": "W",
                                "minimum": 0
                              },
                              "powerStatus": {
                                "type": "string",
                                "enum": [
                                  "on",
                                  "off"
                                ]
                              },
                              "autoCutoffStatus": {
                                "type": "string",
                                "enum": [
                                  "on",
                                  "off"
                                ]
                              },
                              "remoteLockStatus": {
                                "type": "string",
                                "enum": [
                                  "on",
                                  "off"
                                ]
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "number"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "display": [
                          "cmd"
                        ]
                      },
                      "ezexSwitch": {
                        "properties": {
                          "cmd": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string",
                            "enum": [
                              "success",
                              "error"
                            ]
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "number"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "display": [
                          "cmd"
                        ]
                      },
                      "ezexLockUnlock": {
                        "properties": {
                          "cmd": {
                            "type": "string"
                          },
                          "result": {
                            "type": "string",
                            "enum": [
                              "success",
                              "error"
                            ]
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "number"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "display": [
                          "cmd"
                        ]
                      },
                      "ezexTimer": {
                        "properties": {
                          "cmd": {
                            "type": "string"
                          },
                          "result": {
                            "type": "object",
                            "properties": {
                              "duration": {
                                "type": "number",
                                "unit": "sec",
                                "minimum": 0
                              }
                            }
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "number"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "display": [
                          "cmd"
                        ]
                      }
                    },
                    "dataTypes": {},
                    "displayName": "Advanwise Actuator",
                    "models": [
                      "advanwiseLed"
                    ],
                    "supportedNetworks": [
                      "daliworks"
                    ],
                    "mtime": "1489645347197",
                    "category": "actuator",
                    "addressable": "true",
                    "driverName": "advanwiseActuator",
                    "ctime": "1489645347197",
                    "idTemplate": "{gatewayId}-{deviceAddress}-{type}",
                    "unit": {
                      "advanwiseVoc": "ppb",
                      "ezexElecticEnergy": "Wh",
                      "genericDistance": "cm",
                      "libeliumCo": "V",
                      "libeliumCo2": "V",
                      "libeliumNo2": "V",
                      "libeliumO3": "V",
                      "libeliumPressure": "Pa",
                      "libeliumAtmosphericPressure": "kPa",
                      "libeliumNoise": "dbA",
                      "libeliumLight": "Ω",
                      "libeliumLigthLux": "lux",
                      "libeliumNumberPPM": "ppm",
                      "libeliumCh4Pro": "%",
                      "libeliumTempFahr": "°F",
                      "libeliumRainMmh": "mm/h",
                      "libeliumPHPro": "",
                      "jsonrpcVoltageEvent": "Volt"
                    },
                    "networkDrivers": {
                      "jsonrpc": "jsonrpcActuator"
                    },
                    "decimalPlace": {
                      "ezexCurrent": 2,
                      "ezexVoltage": 2,
                      "ezexElectricPowerEvent": 0,
                      "libeliumCo": 3,
                      "libeliumCo2": 3,
                      "libeliumNo2": 3,
                      "libeliumO3": 3,
                      "libeliumPressure": 0,
                      "libeliumAtmosphericPressure": 2,
                      "libeliumNoise": 0,
                      "libeliumDistance": 2,
                      "libeliumLight": 3,
                      "libeliumTemp": 2,
                      "libeliumHumi": 1,
                      "libeliumLigthLux": 2,
                      "libeliumNumberPPM": 3,
                      "libeliumCoPro": 3,
                      "libeliumCo2Pro": 3,
                      "libeliumCh4Pro": 3,
                      "libeliumTempCelsPro": 3,
                      "libeliumTempFahr": 2,
                      "libeliumHumiPro": 2,
                      "libeliumDust": 4,
                      "libeliumPHPro": 3,
                      "jsonrpcVoltageEvent": 2
                    },
                    "recommendedInterval": "60000",
                    "onChange": {
                      "ezexOnoff": true,
                      "ezexMotion": true,
                      "ezexDoor": true,
                      "ezexCountEvent": true,
                      "ezexTag": true,
                      "ezexReader": true,
                      "ezexElectricPowerEvent": true,
                      "jsonrpcDi": true,
                      "jsonrpcMotion": true,
                      "jsonrpcDoor": true,
                      "jsonrpcCountEvent": true,
                      "jsonrpcTag": true,
                      "jsonrpcReader": true,
                      "jsonrpcLight": false,
                      "jsonrpcVoltageEvent": true
                    },
                    "descriptions": {
                      "models": {
                        "visudreamSum": "cumulative power consumption",
                        "visudreamV": "Voltage",
                        "visudreamI": "Current",
                        "visudreamPf": "Power factor",
                        "visudreamFreq": "Frequency",
                        "HTU21D": "I2C Humidity Sensor by MEAS",
                        "TSL2561": "I2C Light Sensor by TAOS Inc.",
                        "BH1750": "I2C Light Sensor byROHM Co.",
                        "sensorTagHum": "TI Sensor Tag, Humidity only",
                        "sensorTagWobble": "TI Sensor Tag; wobble: 'on', no wobble: 'off'",
                        "passiveInfrared": "motion: 'on', no motion: 'off'",
                        "normallyOpen": "open: 'off', close: 'on'",
                        "normallyClose": "open: 'on', close: 'off'",
                        "dht11": "Humidity sensor",
                        "dht22": "Humidity sensor(higher accurate)"
                      },
                      "supportedNetworks": {
                        "serial": "{serial type}{port}  USB0 for /dev/ttyUSB0, O1 for /dev/ttyO1",
                        "visudream": "{ip_address}:{port} e.g. 192.168.0.11:5001",
                        "libelium": "{device address} Waspmote address found at id_wasp field in DB",
                        "foscam": "{ip_address}:{port} e.g. 192.168.0.11:88",
                        "i2c": "0x{hexa number} e.g. 0x40",
                        "uart": "{port number} e.g. 1",
                        "gpio": "{gpio number} e.g. 67"
                      },
                      "sequence": "{sequence number} e.g. 0, starts with zero, grows if more then one sensors for the same model"
                    },
                    "sequenceable": "true",
                    "upload": {
                      "FI9821WA": [
                        "snapPicture"
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "LIST-sensorDrivers",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/sensorDrivers/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "센서 드라이버 id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "GET-sensorDriver",
        "summary": "Get SensorDriver",
        "tags": [
          "Sensordrivers",
          "SensorDrivers"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sensordriver-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "supportedNetworks": [
                    "daliworks"
                  ],
                  "ctime": "1489645347197",
                  "driverName": "advanwiseActuator",
                  "category": "actuator",
                  "models": [
                    "advanwiseLed"
                  ],
                  "mtime": "1489645347197",
                  "id": "advanwiseActuator",
                  "idTemplate": "{gatewayId}-{deviceAddress}-{type}",
                  "displayName": "Advanwise Actuator",
                  "commands": {
                    "advanwiseLed": {
                      "on": [],
                      "off": []
                    }
                  },
                  "discoverable": "false",
                  "contentType": {
                    "advanwiseLed": {
                      "properties": {
                        "cmd": {
                          "type": "string"
                        },
                        "result": {
                          "type": "string",
                          "enum": [
                            "success",
                            "error"
                          ]
                        },
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "number"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "display": [
                        "cmd"
                      ]
                    }
                  },
                  "addressable": "true",
                  "dataTypes": {
                    "advanwiseLed": [
                      "led"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "GET-sensorDriver",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/gateways/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "게이트웨이 id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "GET-gateway",
        "summary": "Get Gateway",
        "tags": [
          "Gateways"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/gateway-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "sensors": [
                    "b827ebda7b2a-0-string",
                    "b827ebda7b2a-0-temp",
                    "b827ebda7b2a-0-humi",
                    "b827ebda7b2a-0-light",
                    "b827ebda7b2a-0-sound",
                    "b827ebda7b2a-0-relay",
                    "b827ebda7b2a-0-buzz",
                    "b827ebda7b2a-0-led",
                    "b827ebda7b2a-0-button",
                    "b827ebda7b2a-0-ultra",
                    "b827ebda7b2a-0-rotary",
                    "b827ebda7b2a-0-lcd"
                  ],
                  "deviceModels": [
                    {
                      "model": "GrovePiPlusStarterKitForRaspberryPi"
                    }
                  ],
                  "name": "heesberryGW",
                  "ctime": "1491370577929",
                  "status": "status.gateway.qMdXIb",
                  "tree": "b827ebda7b2a",
                  "mtime": "1491370613748",
                  "_service": "0",
                  "autoCreateDiscoverable": "y",
                  "_site": "0",
                  "reportInterval": "300000",
                  "devices": [
                    "b827ebda7b2a-0"
                  ],
                  "model": "18",
                  "id": "b827ebda7b2a"
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": "Access denied"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "GET-gateway",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      },
      "put": {
        "operationId": "PUT-gateway",
        "summary": "Update Gateway",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/gateway-for-put"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/gateway-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "sensors": [
                    "b827ebda7b2a-0-string",
                    "b827ebda7b2a-0-temp",
                    "b827ebda7b2a-0-humi",
                    "b827ebda7b2a-0-light",
                    "b827ebda7b2a-0-sound",
                    "b827ebda7b2a-0-relay",
                    "b827ebda7b2a-0-buzz",
                    "b827ebda7b2a-0-led",
                    "b827ebda7b2a-0-button",
                    "b827ebda7b2a-0-ultra",
                    "b827ebda7b2a-0-rotary",
                    "b827ebda7b2a-0-lcd"
                  ],
                  "deviceModels": [
                    {
                      "model": "GrovePiPlusStarterKitForRaspberryPi"
                    }
                  ],
                  "name": "heesberryGW",
                  "ctime": "1491370577929",
                  "status": "status.gateway.qMdXIb",
                  "tree": "b827ebda7b2a",
                  "mtime": "1491370613748",
                  "_service": "0",
                  "autoCreateDiscoverable": "y",
                  "_site": "0",
                  "reportInterval": "300000",
                  "devices": [
                    "b827ebda7b2a-0"
                  ],
                  "model": "18",
                  "id": "b827ebda7b2a"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "PUT-gateway",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      },
      "delete": {
        "operationId": "DELETE-gateway",
        "summary": "Delete Gateway",
        "tags": [
          "Gateways"
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/common-response"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "DELETE-gateway",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/gateways": {
      "get": {
        "operationId": "LIST-gateways",
        "summary": "List Gateways",
        "tags": [
          "Gateways"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/gateway-output"
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": [
                  {
                    "id": "aaaabbbbcccd",
                    "model": "26",
                    "ctime": "1490930982268",
                    "tree": "aaaabbbbcccd",
                    "devices": [
                      "aaaabbbbcccd"
                    ],
                    "reportInterval": "1800000",
                    "_service": "1",
                    "mtime": "1490930982364",
                    "deviceModels": [
                      {
                        "model": "B300",
                        "id": "aaaabbbbcccd"
                      }
                    ],
                    "_site": "1",
                    "status": "status.gateway.qMdXIb",
                    "autoCreateDiscoverable": "n",
                    "sensors": [
                      "power-aaaabbbbcccd-1",
                      "b827ebda7b2a-0-temp",
                      "b827ebda7b2a-0-humi",
                      "b827ebda7b2a-0-light",
                      "b827ebda7b2a-0-sound",
                      "b827ebda7b2a-0-relay",
                      "b827ebda7b2a-0-buzz",
                      "b827ebda7b2a-0-led",
                      "b827ebda7b2a-0-button",
                      "b827ebda7b2a-0-ultra",
                      "b827ebda7b2a-0-rotary",
                      "b827ebda7b2a-0-lcd"
                    ],
                    "name": "safelocker subpm"
                  },
                  {
                    "id": "999509a758d1471daea081d866f294ef",
                    "devices": [
                      "4545397575a844f8ae85ef5ff1a072d3"
                    ],
                    "ctime": "1491294937009",
                    "tree": "999509a758d1471daea081d866f294ef",
                    "model": "6",
                    "reportInterval": "3600000",
                    "mtime": "1491370461507",
                    "_service": "0",
                    "deviceModels": [
                      {
                        "id": "4545397575a844f8ae85ef5ff1a072d3",
                        "model": "statistics"
                      }
                    ],
                    "_site": "0",
                    "status": "status.gateway.8hw2wi",
                    "virtual": "y",
                    "sensors": [
                      "gatewaysCounter-999509a758d1471daea081d866f294ef",
                      "sensorsCounter-999509a758d1471daea081d866f294ef"
                    ],
                    "name": "VirtualGatewayBasic2"
                  },
                  {
                    "id": "777f869932564e4aa6b937a2a7f9cc2e",
                    "devices": [
                      "88b29846844345b3b4317fd8558a9027",
                      "b74bd03d91bc4be387998141df679ea4",
                      "f4a273af0d584df6a6e75776289555c6"
                    ],
                    "model": "6",
                    "ctime": "1491287488949",
                    "tree": "777f869932564e4aa6b937a2a7f9cc2e",
                    "virtual": "y",
                    "reportInterval": "3600000",
                    "mtime": "1491799534493",
                    "_service": "0",
                    "deviceModels": [
                      {
                        "id": "88b29846844345b3b4317fd8558a9027",
                        "model": "emulator"
                      },
                      {
                        "id": "b74bd03d91bc4be387998141df679ea4",
                        "model": "powerEmulator"
                      },
                      {
                        "id": "f4a273af0d584df6a6e75776289555c6",
                        "model": "weather"
                      }
                    ],
                    "_site": "0",
                    "status": "status.gateway.SvLFSu",
                    "autoCreateDiscoverable": "n",
                    "sensors": [
                      "humidity-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "count-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "countEvent-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "color-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "co2-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "co-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "dust-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "location-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "power-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "power-777f869932564e4aa6b937a2a7f9cc2e-2",
                      "onoff-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "number-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "temperature-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "parkingStatus-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "windVane-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "string-777f869932564e4aa6b937a2a7f9cc2e-1",
                      "power-777f869932564e4aa6b937a2a7f9cc2e-3",
                      "power-777f869932564e4aa6b937a2a7f9cc2e-4",
                      "temperatureOpenAPI-777f869932564e4aa6b937a2a7f9cc2e",
                      "humidityOpenAPI-777f869932564e4aa6b937a2a7f9cc2e"
                    ],
                    "name": "heeVirtualGatewayBasic"
                  },
                  {
                    "ctime": "1491286585956",
                    "_service": "0",
                    "reportInterval": "300000",
                    "id": "bbccddeeffaa",
                    "deviceModels": [
                      {
                        "model": "jsonrpcFullV1.0"
                      }
                    ],
                    "name": "OpenSrouceGateway2",
                    "_site": "0",
                    "tree": "bbccddeeffaa",
                    "autoCreateDiscoverable": "y",
                    "mtime": "1491286586091",
                    "model": "34"
                  },
                  {
                    "id": "709bc4eb28294d289882ff13b3bf44e3",
                    "devices": [
                      "b3886258ff0a477884296805ce452f61"
                    ],
                    "model": "32",
                    "ctime": "1491284944260",
                    "tree": "709bc4eb28294d289882ff13b3bf44e3",
                    "virtual": "y",
                    "reportInterval": "1200000",
                    "mtime": "1491370461805",
                    "_service": "0",
                    "deviceModels": [
                      {
                        "id": "b3886258ff0a477884296805ce452f61",
                        "model": "sensorSimulator"
                      }
                    ],
                    "_site": "0",
                    "status": "status.gateway._P5Imm",
                    "autoCreateDiscoverable": "n",
                    "sensors": [
                      "temperatureDaliworks-709bc4eb28294d289882ff13b3bf44e3",
                      "humidityDaliworks-709bc4eb28294d289882ff13b3bf44e3",
                      "onoff-709bc4eb28294d289882ff13b3bf44e3-1"
                    ],
                    "name": "SimulBasic"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": "Access denied"
            }
          },
          "403": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            },
            "examples": {
              "application/json": {
                "name": "JsonWebTokenError",
                "message": "jwt malformed"
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "LIST-gateways",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/gateways/{owner}/devices/{id}": {
      "parameters": [
        {
          "name": "owner",
          "in": "path",
          "description": "게이트웨이 id",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "디바이스 id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "GET-gateway-devices",
        "summary": "Get Gateway-devices",
        "tags": [
          "Gateway-devices"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/device-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "name": "ESP8266",
                  "model": "groveArduinoKit1.0",
                  "owner": "5ccf7f1dfac1",
                  "mtime": "1480667758276",
                  "ctime": "1480667758275",
                  "id": "5ccf7f1dfac1-gsk10",
                  "address": "0"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "GET-gateway-devices",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      },
      "put": {
        "operationId": "PUT-gateway-devices",
        "summary": "Update Gateway-devices",
        "tags": [
          "Gateway-devices"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/device-input",
              "example": {
                "name": "SensorEmulDevice",
                "model": "emulator",
                "owner": "777f869932564e4aa6b937a2a7f9cc2e",
                "mtime": "1491292526321",
                "ctime": "1491287488966",
                "id": "88b29846844345b3b4317fd8558a9027"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/device-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "name": "SensorEmulDevice",
                  "model": "emulator",
                  "owner": "777f869932564e4aa6b937a2a7f9cc2e",
                  "mtime": "1491792969795",
                  "ctime": "1491287488966",
                  "id": "88b29846844345b3b4317fd8558a9027"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "PUT-gateway-devices",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      },
      "delete": {
        "operationId": "DELETE-gateway-devices",
        "summary": "Delete Gateway-devices",
        "tags": [
          "Gateway-devices"
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/common-response"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "DELETE-gateway-devices",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/gateways/{owner}/devices": {
      "parameters": [
        {
          "name": "owner",
          "in": "path",
          "description": "게이트웨이 id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "LIST-gateway-devices",
        "summary": "List Gateway-devices",
        "tags": [
          "Gateway-devices"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/device-output"
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": [
                  {
                    "name": "ESP8266",
                    "model": "groveArduinoKit1.0",
                    "owner": "5ccf7f1dfac1",
                    "mtime": "1480667758276",
                    "ctime": "1480667758275",
                    "id": "5ccf7f1dfac1-gsk10",
                    "address": "0"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "LIST-gateway-devices",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      },
      "post": {
        "operationId": "POST-gateway-devices",
        "summary": "Create Gateway-devices",
        "tags": [
          "Gateway-devices"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "reqId": {
                      "type": "string",
                      "description": "device의 id로 지정되길 바라는 값. 동일한 ID가 있다면 거절 될 수 있다."
                    }
                  },
                  "required": [
                    "reqId",
                    "name",
                    "model"
                  ]
                },
                {
                  "$ref": "#/definitions/device-input"
                }
              ],
              "example": {
                "reqId": "f4a273af0d584df6a6e75776289555c6",
                "name": "MyWeatherDevice",
                "model": "weather"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/device-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "name": "MyWeatherDevice",
                  "model": "weather",
                  "owner": "777f869932564e4aa6b937a2a7f9cc2e",
                  "mtime": 1491799533961,
                  "ctime": 1491799533961,
                  "id": "f4a273af0d584df6a6e75776289555c6"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "POST-gateway-devices",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/gateways/{owner}/sensors/{id}": {
      "parameters": [
        {
          "name": "owner",
          "in": "path",
          "description": "게이트웨이 id",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "센서 id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "GET-gateway-sensors",
        "summary": "Get Gateway-sensors",
        "tags": [
          "Gateway-sensors"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sensor-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "network": "daliworks",
                  "driverName": "daliworksWeather",
                  "model": "humidityDaliworks",
                  "type": "humidity",
                  "category": "sensor",
                  "name": "humidity_2",
                  "deviceId": "ebcf17cdbb39438a858b099cdf240611",
                  "owner": "af135c176df24ed9a57497b1bdf7fef7",
                  "mtime": "1490251092738",
                  "ctime": "1490251092736",
                  "id": "humidityDaliworks-af135c176df24ed9a57497b1bdf7fef4",
                  "virtual": "y",
                  "series": "series.sensor.1RBNkw",
                  "status": "status.sensor.gw45tL",
                  "sequence": "1",
                  "address": "0",
                  "options": {
                    "notification": "true"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "GET-gateway-sensors",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      },
      "put": {
        "operationId": "PUT-gateway-sensors",
        "summary": "Update Gateway-sensors",
        "tags": [
          "Gateway-sensors"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/sensor",
              "example": {
                "network": "daliworks",
                "driverName": "daliworksEmulator",
                "model": "humidityEmulator",
                "sequence": "1",
                "type": "humidity",
                "category": "sensor",
                "name": "humidity_1",
                "deviceId": "27b61309b5c643358e4b43fff1cb62fa",
                "virtual": "y",
                "owner": "8683bbca9bf249078c81687fac9b778f"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sensor-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "network": "daliworks",
                  "driverName": "daliworksEmulator",
                  "model": "doorEmulator",
                  "sequence": "1",
                  "type": "onoff",
                  "category": "sensor",
                  "name": "myonoff_1",
                  "deviceId": "88b29846844345b3b4317fd8558a9027",
                  "virtual": "y",
                  "owner": "777f869932564e4aa6b937a2a7f9cc2e",
                  "mtime": "1491794379051",
                  "ctime": "1491792970005",
                  "series": "series.sensor.MwKo9J",
                  "status": "status.sensor.-qbJwg",
                  "id": "onoff-777f869932564e4aa6b937a2a7f9cc2e-1"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "PUT-gateway-sensors",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      },
      "delete": {
        "operationId": "DELETE-gateway-sensors",
        "summary": "Delete Gateway-sensors",
        "tags": [
          "Gateway-sensors"
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/common-response"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "DELETE-gateway-sensors",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/gateways/{owner}/sensors": {
      "parameters": [
        {
          "name": "owner",
          "in": "path",
          "description": "게이트웨이 id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "LIST-gateway-sensors",
        "summary": "List Gateway-sensors",
        "tags": [
          "Gateway-sensors"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/sensor-output"
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": [
                  {
                    "network": "daliworks",
                    "driverName": "daliworksWeather",
                    "model": "humidityDaliworks",
                    "type": "humidity",
                    "category": "sensor",
                    "name": "humidity_2",
                    "deviceId": "ebcf17cdbb39438a858b099cdf240611",
                    "owner": "af135c176df24ed9a57497b1bdf7fef7",
                    "mtime": "1490251092738",
                    "ctime": "1490251092736",
                    "id": "humidityDaliworks-af135c176df24ed9a57497b1bdf7fef4",
                    "virtual": "y",
                    "series": "series.sensor.1RBNkw",
                    "status": "status.sensor.gw45tL",
                    "sequence": "1",
                    "address": "0",
                    "options": {
                      "notification": "true"
                    }
                  }
                ]
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": "Access denied"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "LIST-gateway-sensors",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      },
      "post": {
        "operationId": "POST-gateway-sensors",
        "summary": "Create Gateway-sensors",
        "tags": [
          "Gateway-sensors"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/sensor-input",
              "example": {
                "network": "daliworks",
                "driverName": "daliworksEmulator",
                "model": "doorEmulator",
                "sequence": "1",
                "type": "onoff",
                "category": "sensor",
                "name": "onoff_1",
                "reqId": "onoff-777f869932564e4aa6b937a2a7f9cc2e-1",
                "deviceId": "88b29846844345b3b4317fd8558a9027",
                "virtual": "y"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sensor-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "network": "daliworks",
                  "driverName": "daliworksEmulator",
                  "model": "doorEmulator",
                  "sequence": "1",
                  "type": "onoff",
                  "category": "sensor",
                  "name": "onoff_1",
                  "deviceId": "88b29846844345b3b4317fd8558a9027",
                  "virtual": "y",
                  "owner": "777f869932564e4aa6b937a2a7f9cc2e",
                  "mtime": 1491792970005,
                  "ctime": 1491792970005,
                  "id": "onoff-777f869932564e4aa6b937a2a7f9cc2e-1"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "POST-gateway-sensors",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/gateway/{id}/status": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "게이트웨이의 Id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "GET-gateway-status",
        "summary": "Get Gateway-status",
        "tags": [
          "thingplus",
          "Gateway-status"
        ],
        "description": "게이트웨이의 최근 상태값",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/gateway-status-output"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "status": {
                              "$ref": "#/definitions/gateway-status-status"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "_service": "1",
                  "autoCreateDiscoverable": "n",
                  "mtime": "1490941631622",
                  "_site": "1",
                  "ctime": "1490929829618",
                  "devices": [
                    "aaaabbbbcccc"
                  ],
                  "status": {
                    "type": "status",
                    "value": "off",
                    "srcDbType": "gateway",
                    "time": "1490941631599",
                    "expireAt": "1490942631599",
                    "vtime": "1490941631599",
                    "status": "aaaabbbbcccc",
                    "owner": "aaaabbbbcccc",
                    "gateway": "aaaabbbbcccc",
                    "mtime": "1490941631620",
                    "ctime": "1490941631620",
                    "id": "status.gateway.-AdUxV"
                  },
                  "name": "safelocker pm",
                  "tree": "aaaabbbbcccc",
                  "sensors": [
                    "power-aaaabbbbcccc-1",
                    "electricPower-aaaabbbbcccc-1",
                    "powerControllerState-aaaabbbbcccc-1",
                    "powerController-aaaabbbbcccc-1"
                  ],
                  "deviceModels": [
                    {
                      "id": "aaaabbbbcccc",
                      "model": "B300"
                    }
                  ],
                  "reportInterval": "1800000",
                  "model": "26",
                  "id": "aaaabbbbcccc"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "GET-gateway-status",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      },
      "put": {
        "operationId": "PUT-gateway-status",
        "summary": "Update Gateway-status",
        "tags": [
          "thingplus",
          "Gateway-status"
        ],
        "description": "게이트웨이의 상태값 업데이트",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/gateway-status-input",
              "example": {
                "timeout": 1000,
                "value": "on"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/definitions/gateway-status-output"
                        },
                        {
                          "properties": {
                            "status": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "_service": "1",
                  "autoCreateDiscoverable": "n",
                  "mtime": "1490941631622",
                  "_site": "1",
                  "ctime": "1490929829618",
                  "devices": [
                    "aaaabbbbcccc"
                  ],
                  "status": "status.gateway.-AdUxV",
                  "name": "safelocker pm",
                  "tree": "aaaabbbbcccc",
                  "sensors": [
                    "power-aaaabbbbcccc-1",
                    "electricPower-aaaabbbbcccc-1",
                    "powerControllerState-aaaabbbbcccc-1",
                    "powerController-aaaabbbbcccc-1"
                  ],
                  "deviceModels": [
                    {
                      "id": "aaaabbbbcccc",
                      "model": "B300"
                    }
                  ],
                  "reportInterval": "1800000",
                  "model": "26",
                  "id": "aaaabbbbcccc"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "PUT-gateway-status",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/gateways/{owner}/sensors/{id}/status": {
      "parameters": [
        {
          "name": "owner",
          "in": "path",
          "description": "게이트웨이 id",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "센서 id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "GET-sensor-status",
        "summary": "Get Sensor-status",
        "tags": [
          "thingplus",
          "Sensor-status"
        ],
        "description": "해당 센서의 최근 상태 값",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sensor-status-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "network": "daliworks",
                  "driverName": "genericSensor",
                  "model": "genericPower",
                  "sequence": "1",
                  "type": "power",
                  "category": "sensor",
                  "name": "power_1",
                  "deviceId": "aaaabbbbcccc",
                  "owner": "aaaabbbbcccc",
                  "mtime": "1490947031778",
                  "ctime": "1490929829642",
                  "status": {
                    "type": "status",
                    "value": "on",
                    "srcType": "power",
                    "srcCategory": "sensor",
                    "srcDbType": "sensor",
                    "time": "1490947031771",
                    "expireAt": "1490957031771",
                    "vtime": "1490947031771",
                    "status": "power-aaaabbbbcccc-1",
                    "owner": "aaaabbbbcccc",
                    "sensor": "power-aaaabbbbcccc-1",
                    "mtime": "1490947031773",
                    "ctime": "1490947031773",
                    "id": "status.sensor.1AxqrU"
                  },
                  "id": "power-aaaabbbbcccc-1"
                },
                "value": "on",
                "timeout": 10000
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "GET-sensor-status",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      },
      "put": {
        "operationId": "PUT-sensor-status",
        "summary": "Update Sensor-status",
        "tags": [
          "thingplus",
          "Sensor-status"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/sensor-status-input",
              "example": {
                "value": "on",
                "timeout": 10000
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sensor-status-status"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "type": "status",
                  "value": "on",
                  "srcType": "temperature",
                  "srcCategory": "sensor",
                  "srcDbType": "sensor",
                  "time": "1492666149961",
                  "expireAt": "1492666239961",
                  "vtime": "1492577384029",
                  "status": "temperatureDaliworks-914af1c57e5a4caf8ab42756cddb5267",
                  "owner": "914af1c57e5a4caf8ab42756cddb5267",
                  "sensor": "temperatureDaliworks-914af1c57e5a4caf8ab42756cddb5267",
                  "mtime": "1492666149961",
                  "ctime": "1492577384029",
                  "id": "status.sensor.DuFYPl"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "PUT-sensor-status",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      }
    },
    "/gateways/{owner}/sensors/{id}/series": {
      "parameters": [
        {
          "name": "owner",
          "in": "path",
          "description": "게이트웨이 id",
          "required": true,
          "type": "string"
        },
        {
          "name": "id",
          "in": "path",
          "description": "센서 id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "operationId": "GET-sensor-series",
        "summary": "Get Sensor-series",
        "tags": [
          "thingplus",
          "Sensor-series"
        ],
        "description": "해당 센서의 최근 값",
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/common-response"
                },
                {
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/sensor-series-output"
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "statusCode": 200,
                "message": "OK",
                "data": {
                  "network": "daliworks",
                  "driverName": "genericSensor",
                  "model": "genericPower",
                  "sequence": "1",
                  "type": "power",
                  "category": "sensor",
                  "name": "power_1",
                  "deviceId": "aaaabbbbcccc",
                  "owner": "aaaabbbbcccc",
                  "mtime": "1490949614516",
                  "ctime": "1490929829642",
                  "status": "status.sensor.1AxqrU",
                  "series": {
                    "type": "series",
                    "value": "123",
                    "time": "1490949603294",
                    "srcType": "power",
                    "srcCategory": "sensor",
                    "srcDbType": "sensor",
                    "series": "power-aaaabbbbcccc-1",
                    "owner": "aaaabbbbcccc",
                    "sensor": "power-aaaabbbbcccc-1",
                    "mtime": "1490949614514",
                    "ctime": "1490949614514",
                    "id": "series.sensor.RZhUBX"
                  },
                  "id": "power-aaaabbbbcccc-1"
                },
                "value": "123",
                "time": 1490949603294
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-stoplight": {
          "id": "GET-sensor-series",
          "beforeScript": null,
          "afterScript": null,
          "public": true,
          "mock": {
            "enabled": false,
            "dynamic": false,
            "statusCode": 200
          }
        }
      },
      "put": {
        "operationId": "PUT-sensor-series",
        "summary": "Update Sensor-series",
        "tags": [
          "thingplus",
          "Sensor-series"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/definitions/sensor-series-input"
                },
                {
                  "type": "array",
[...]
